services:
  db:
    image: postgres:18.1-alpine3.22
    restart: always
    env_file:
      - ${ENV_DIR:-env/dev}/db.env
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 2s
      timeout: 5s
      retries: 10
      start_period: 10s
  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    restart: always
    env_file:
      - ${ENV_DIR:-env/dev}/server.env
    ports:
      - "127.0.0.1:8080:8080"
    depends_on:
      db:
        condition: service_healthy
